* {
  font-family: outfit, sans-serif;
  font-weight: 40px;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  margin: 0px;
  padding: 0px;
  min-height: auto;
  width: 100%;
}
.card {
  max-width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 14px;
  border-radius: 12px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

img {
  width: 100%;
  border-radius: 12px;
  height: 300px;
  object-fit: cover;
}

.content {
  padding: 6px 10px;
}

.content h1 {
  font-size: 23px;
}

.content p {
  font-size: 15px;
  opacity: 80%;
  padding: 10px;
}
