* {
  font-family: outfit, sans-serif;
  font-weight: 40px;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  margin: 0px;
  padding: 0px;
  min-height: auto;
  width: 100%;
/* }

img {
  width: 100%;
  border-radius: 12px;
  height: 300px;
  object-fit: cover;
} */
